### Step 1 - Data Engineering

- Use Pandas to read in the measurement and station CSV files as DataFrames.
- Inspect the data for NaNs and missing values. You must decide what to do with this data.
- Save your cleaned CSV files with the prefix clean_.

In [ ]:
!del hawaii_measurements_cleaned hawaii_stations_cleaned

In [1]:
# Dependencies
import pandas as pd
import numpy as np
import os

In [2]:
# Path of the CSV files
csvfile1 = "hawaii_measurements.csv"
csvfile2 = "hawaii_stations.csv"

In [11]:
# Read CSV files into a pandas DataFrame
df1 = pd.read_csv(csvfile1, dtype=object)
df2 = pd.read_csv(csvfile2, dtype=object)

In [12]:
df1.head(5)

       station        date  prcp tobs
0  USC00519397  2010-01-01  0.08   65
1  USC00519397  2010-01-02     0   63
2  USC00519397  2010-01-03     0   74
3  USC00519397  2010-01-04     0   76
4  USC00519397  2010-01-06   NaN   73

In [9]:
df2.tail(5)

,station,name,latitude,longitude,elevation
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.3152,-157.9992,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4

#### Data Inspection
- Based on observation and table contents, the data from hawaii_measurements contains some blank or NaN entries in prcp; these will be dropped.
- The data from hawaii_stations appears to be complete; no blanks or NaNs.

In [13]:
df1 = df1.dropna(axis=0).reset_index(drop=True)
df1.head(5)

       station        date  prcp tobs
0  USC00519397  2010-01-01  0.08   65
1  USC00519397  2010-01-02     0   63
2  USC00519397  2010-01-03     0   74
3  USC00519397  2010-01-04     0   76
4  USC00519397  2010-01-07  0.06   70

In [14]:
clean_data1 = "hawaii_measurements_cleaned.csv"
clean_data2 = "hawaii_stations_cleaned.csv"
df1.to_csv(clean_data1, index=False)
df2.to_csv(clean_data2, index=False)